<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%for tweet in tweets%}
        <form action="/like", method="POST">
            <div>

                <h1>{{tweets[tweet]["title"]}}</h1>
                <h2>{{tweets[tweet]["text"]}}</h2>
                <h3>{{tweets[tweet]["timestamp"]}}</h3>
                <input type="hidden" name="tweetID" value={{tweet}}>
                <button> LIKE</button> <p>{{tweets[tweet]["like"]}}</p>
                <label>________________</label>
            </div>
        </form>
        {%endfor%}
        <script src="" async defer></script>


        <!-- Signout -->
        <div>
            
            <form action="/signout" method="post">
                <p>signout</p>
                <input type="submit"></input>



            </form>


        </div>


    </body>
</html>